
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.AssemblyInfoInputs.cache
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.AssemblyInfo.cs
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.AssemblyInfo.cs
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.AssemblyInfoInputs.cache
Services/bin/Debug/net8.0/Log.cutp
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.AssemblyInfo.cs
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.AssemblyInfoInputs.cache
Services/obj/Debug/net8.0/Services.AssemblyInfo.cs
Services/obj/Debug/net8.0/Services.AssemblyInfoInputs.cache
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.AssemblyInfo.cs
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.AssemblyInfoInputs.cache
Services/obj/Debug/net8.0/Services.AssemblyInfo.cs
Services/obj/Debug/net8.0/Services.AssemblyInfoInputs.cache
Services/obj/Services.csproj.nuget.dgspec.json
Services/obj/project.nuget.cache
Services/obj/project.assets.json
Services/obj/Debug/net8.0/Services.sourcelink.json
Services/obj/Debug/net8.0/Services.pdb
Services/obj/Debug/net8.0/Services.GeneratedMSBuildEditorConfig.editorconfig
Services/obj/Debug/net8.0/Services.dll
Services/obj/Debug/net8.0/Services.csproj.FileListAbsolute.txt
Services/obj/Debug/net8.0/Services.csproj.CoreCompileInputs.cache
Services/obj/Debug/net8.0/Services.csproj.AssemblyReference.cache
Services/obj/Debug/net8.0/Services.assets.cache
Services/obj/Debug/net8.0/Services.AssemblyInfoInputs.cache
Services/obj/Debug/net8.0/Services.AssemblyInfo.cs
Services/obj/Debug/net8.0/refint/Services.dll
Services/obj/Debug/net8.0/ref/Services.dll
Services/obj/Debug/net8.0/apphost.exe
Services/bin/Debug/net8.0/sv/Spectre.Console.Cli.resources.dll
Services/bin/Debug/net8.0/Spectre.Console.dll
Services/bin/Debug/net8.0/Spectre.Console.Cli.dll
Services/bin/Debug/net8.0/Services.pdb
Services/bin/Debug/net8.0/Services.exe
Services/bin/Debug/net8.0/Services.dll
Services/bin/Debug/net8.0/Services.deps.json
Services/bin/Debug/net8.0/fr/Spectre.Console.Cli.resources.dll
Services/bin/Debug/net8.0/de/Spectre.Console.Cli.resources.dll
Services/bin/Debug/net8.0/Children_Use_Time_Protector.pdb
Services/bin/Debug/net8.0/Children_Use_Time_Protector.exe
Services/bin/Debug/net8.0/Children_Use_Time_Protector.dll
Services/bin/Debug/net8.0/Children_Use_Time_Protector.deps.json
Manage/obj/project.nuget.cache
Manage/obj/project.assets.json
Manage/obj/Debug/net8.0/refint/Children_Use_Time_Protector.dll
Manage/obj/Debug/net8.0/ref/Children_Use_Time_Protector.dll
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.sourcelink.json
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.pdb
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.dll
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.csproj.FileListAbsolute.txt
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.csproj.CoreCompileInputs.cache
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.csproj.AssemblyReference.cache
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.assets.cache
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.AssemblyInfoInputs.cache
Manage/obj/Debug/net8.0/Children_Use_Time_Protector.AssemblyInfo.cs
Manage/obj/Debug/net8.0/apphost.exe
Manage/obj/Children_Use_Time_Protector.csproj.nuget.dgspec.json
Manage/bin/Debug/net8.0/sv/Spectre.Console.Cli.resources.dll
Manage/bin/Debug/net8.0/Spectre.Console.dll
Manage/bin/Debug/net8.0/Spectre.Console.Cli.dll
Manage/bin/Debug/net8.0/fr/Spectre.Console.Cli.resources.dll
Manage/bin/Debug/net8.0/de/Spectre.Console.Cli.resources.dll
Manage/bin/Debug/net8.0/Children_Use_Time_Protector.pdb
Manage/bin/Debug/net8.0/Children_Use_Time_Protector.exe
Manage/bin/Debug/net8.0/Children_Use_Time_Protector.dll
Manage/bin/Debug/net8.0/Children_Use_Time_Protector.deps.json
